.welcomeCart {
	padding: 10px 0px;
	text-align: -webkit-center;
	margin: 100px 15px;
	border-radius: 41px;
	background: #ffffff;
	box-shadow:  5px 5px 10px #dbdbdb,
							 -5px -5px 10px #ffffff;
}
.goHome {
	border-radius: 0.25rem;
}
.itemRow {
	margin-top: 10px;
}
.cartTitle {
	text-align: center;
	margin-top: 30px;
}
.items {
	padding: 10px 0px;
	text-align: -webkit-center;
	margin: 10px 15px;
	border-radius: 41px;
	background: #ffffff;
	box-shadow:  5px 5px 10px #dbdbdb,
							 -5px -5px 10px #ffffff;
}
.totalItems {
	padding: 10px 0px;
	text-align: -webkit-center;
	margin: 20px 0px;
	border-radius: 41px;
	background: #ffffff;
	box-shadow:  5px 5px 10px #dbdbdb,
             	-5px -5px 10px #ffffff;
}
.card-img-top {
	height: 150px !important;
	width: 150px !important;
}
.cartDetails {
	display: inline-block;
}
.bts-items {
	border-radius: 0.25rem;
	display: inline-block;
}