* {
  margin: 0px;
}
#header {
  margin-top: 20px;
}
h1, h2, h3, .description {
  text-align: center;
  margin-bottom: 15px;
}
#titleGraph {
  text-align: -webkit-center; 
}
#graph {
  margin-top: 25px;
}
#mainNav {
  color: #495057 !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
  border-radius: 0.25rem;
  margin-top: 25px;
}