#itemCountContainer{
	margin: 10px 0px 25px 0px;
}
#select {
	text-align: center;
	font-size: 1.3rem;
	margin-top: 15px;
}
#stock, #yourChart {
	text-align: center;
}
#items {
	margin: 5px 0px !important;
}
#addToChart {
	width: 100%;
	margin-top: 15px;
}